body {
  width: 400px;
}

#title {
  border: 2px solid blue;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.text {
  border: 2px solid yellow;
  box-shadow: 12px 12px 2px 1px rgba(223, 243, 142, 0.604);
}